@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --red: hsl(0, 100%, 70%);
  --red-shadow: hsl(0, 100%, 40%);
  --green: hsl(150, 100%, 70%);
  --green-shadow: hsl(166, 100%, 34%);
  --grey: hsl(0, 0%, 78%);
  --grey-shadow: hsl(0, 0%, 50%);
  --font-color: hsl(0, 0%, 23%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  transition: all 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

#playing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#playing.player-1 {
  background-color: var(--green);
}

#playing.player-2 {
  background-color: var(--red);
}

#playing.draw {
  background-color: var(--grey);
}

#playing.player-1 div.resize-helper,
#playing.player-2 div.resize-helper,
#playing.draw div.resize-helper {
  pointer-events: none;
}

.player-notation {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--font-color);
  text-align: center;
}

#player-1:not(.player-2,.player-1 #player-1) {
  color: var(--green);
}

#player-2:not(.player-2,.player-1 #player-2){
  color: var(--red);
}

div.resize-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 80vh;
}

div.outer-container {
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 0 15px 0 var(--grey);
  display: grid;
  aspect-ratio: 1;
  width: 100%;
  max-width: 450px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 5%;
  background-color: white;
}

div.outer-container div {
  box-shadow: inset 0 0 5px 0 var(--grey);
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}

div.outer-container div:hover {
  box-shadow: inset 0 0 15px 0 var(--grey);
}

div.outer-container div.player-1 {
  background-color: var(--green);
  box-shadow: inset 0 0 8px 0 var(--green-shadow);
}

div.outer-container div.player-2 {
  background-color: var(--red);
  box-shadow: inset 0 0 8px 0 var(--red-shadow);
}

div.buttons-resize-helper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 80vh;
}

div.buttons {
  width: 100%;
  max-width: 490px;
  top: 100px;
  display: flex;
  flex-direction: row;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: var(--font-color);
  background-color: white;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

body#player-1 button {
  background-color: var(--green);
}

body#player-1 button:hover {
  box-shadow: 0 0 10px 0 var(--green-shadow);
}

body#player-2 button {
  background-color: var(--red);
}

body#player-2 button:hover {
  box-shadow: 0 0 10px 0 var(--red-shadow);
}

body#draw button {
  background-color: var(--grey);
}

body:not(#playing) button {
  color: white;
}

button:hover {
  box-shadow: 0 0 10px 0 var(--grey-shadow);
  scale: 1.025;
  cursor: pointer;
}
